
{% block body %}

        <table border="1"  >

            <tr>
                <th>Nom de proprietaire
                </th>
                <td >{{ rendezVous.nom }} </td>
            </tr>
         <tr>       <th>Numero d telephone
                </th>
             <td>{{ rendezVous.num }}</td>
         </tr>
            <tr>
             <th>Animal </th>
                <td>{{ rendezVous.typea }}</td>
            </tr>
            <tr>
                <th>Maladie </th>
                <td>{{ rendezVous.maladie }}</td>
            </tr>
            <tr>
            </tr>


         </table>

{% endblock %}
